*{
    margin: 0;
    padding: 0;
}
.container-header{
    height: 120px;
    width: 100%;
    background-color: #FEF159;

}
.formulario{
    height: 450px;
    width: 100%;
    background-color: #EDEDED;
}
footer{
    text-align: center;
}