:root{
    --cor-principal: #2C2C2C; 
    --cor-titulo: #FFFFFF;
    --cor-texto: #B3B3B3;
    --fonte-principal: 'Poppins'; 
    --degrade-bota0: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(110,103,8,1) 42%, rgba(235,232,6,1) 100%);
}
body{
    background-color: var(--cor-principal);
    display: flex;
    justify-content: center;   
}
.conteudo{
    padding: 40px ;
    width: 325px;
    height: 277px;
    
}
.titulo{
    color: var(--cor-titulo);
    font-family: var(--fonte-principal);
    font-size: 23px;
    font-weight: 600;
    padding-bottom: 14px;
    
}
.titulo-profissao{
    color: var(--cor-texto);
    font-size: var(--fonte-principal);
    font-weight: 400;  
    padding-bottom: 24px; 
}
.foto{
    width: 325px;
    height: 277px;
    border-radius: 24px;
}
.icones{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content:space-between;   
}
.icones-links{
    height: 20px;
    width: 20px;
    padding: 15px;
    
}

.arco{
    border: 1px solid white;
    border-radius: 100px;
    height: 50px;
    width: 50px;

    
}
.contato{
    background: var(--degrade-bota0);
    width: 100%;
    height: 55px;
    border-radius: 24px;
    font-weight: 600;
    line-height: 30px;
    font-size: 20px;
}
.contato-link{
    color: var(--cor-titulo);
    text-decoration: none;

}
.experiencia{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    padding: 40px 0 40px 0;
    color: var(--cor-titulo);

}
.experiencia-texto{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--cor-texto);
      
}
.experiencia-medida{
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
       
}
.img-experiencia{
    height: 30px;   
}
.barra-experiencia{
    width: 89%;
    height: 24px;
    border-radius: 24px;
    border: 1px;
    background: var(--degrade-bota0)
}
.linguegens{
    display: flex;
    color: var(--cor-texto);
    padding-bottom: 24px;
}
.linguegens-texto{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;

}
.img-linguagem{
    width: 20px;
    height: 24px;
    padding-right: 14px;
}
