body{
    background-color: #000;
}
body.bg_filmes {
    background-image: url(assets/background.png);
    background-position: center;
    background-size: cover; /* organizar como uma capa      */
}
header{
    padding: 50px;
    background: linear-gradient(
        180deg,
        rgba(0, 0 , 0.69) 0%,
        rgba(0, 0,0,0)100%
    );
}
header img{
    width: 150px;     
}
.fundo{
    background-color: #3C3C3C;
    border: none;
}
#caixa_login{
    background: rgba(0,0,0,0.5);
    padding: 30px;
   /* margin-top: 150px; */
}
.assine{
    font-size: 18px;
}
.mensagem{
    font-size: 13px;
}